.about .container {
  display: flex;
  column-gap: 30px;
}

.pic-list {
  display: flex;
  column-gap: 30px;
}

.about__content {
  max-width: 470px;
}

.about__pre-title {
  margin-bottom: 20px;
}
.about__title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about__after-title {
  color: #555555;
  margin-bottom: 20px;
}
.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: #555555;
  margin-bottom: 40px;
}
.about__btn {
  color: var(--second-btn-color);
}
