.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  &__container {
    @extend %align-list;
  }
}

.header__logo {
  margin-right: 130px;
}

.navigation__list {
  display: flex;
  column-gap: 30px;
}

/* .header-item:not(:last-child) {
  margin-right: 30px;
} */
.navigation__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms linear;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #ff6c00;
}

.connect {
  margin-left: auto;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.connect__btn {
  color: #ffffff;
  margin-left: 30px;
}
