.hero .container {
  display: flex;
  padding: 0;
  width: 100%;
  @include tablet {
    padding-left: 39px;
  }
  @include desktop {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.soc {
  display: none;
  @include tablet {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }
}

.soc__list {
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  @extend %align-list;
  gap: 40px;
}

.soc__list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero__content {
  background-color: #303030;
  background-image: var(--bg-gradient), url(../img/hero-bg-mob.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 210px 30px;
  flex-grow: 1;
  @include retina {
    background-image: var(--bg-gradient), url(../img/hero-bg-mob-2x.jpeg);
  }
  @include tablet {
    padding: 272px 111px 237px 124px;
    background-image: var(--bg-gradient), url(../img/hero-bg-tab.jpeg);
    @include retina {
      background-image: var(--bg-gradient), url(../img/hero-bg-tab-2x.jpeg);
    }
  }
  @include desktop {
    padding: 272px 100px 206px 100px;
    background-image: var(--bg-gradient), url(../img/hero-bg.jpeg);

    @include retina {
      background-image: var(--bg-gradient), url(../img/hero-bg-2x.jpeg);
    }
  }
}

.hero__pre-title {
  margin-bottom: 20px;
}

.hero__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  @include mobile {
    font-size: 48px;
  }
  @include desktop {
    font-size: 72px;
  }
}

.hero__after-title {
  color: #9da4bd;
  @include mobile {
    max-width: 336px;
  }
  @include tablet {
    max-width: 370px;
  }
  @include desktop {
    max-width: 360px;
  }
}
